<div class="side-navbar d-flex flex-column justify-content-between bg-light">
  <nav class="nav flex-column">
    <a class="m-3" href="index.html"><img src="/assets/images/logo-ANSWER.svg"></a>
    <a class="nav-link" aria-current="page" href="index.html"><span class="material-symbols-sharp me-3 align-bottom">insert_chart</span>Dashboard</a>
    <a class="nav-link" href="index.html"><span class="material-symbols-sharp me-3 align-bottom">forum</span>Question</a>
    <a class="nav-link active" href="index.html"><span class="material-symbols-sharp me-3 align-bottom">assignment</span>Assignment</a>
    <a class="nav-link" href="index.html"><span class="material-symbols-sharp me-3 align-bottom">video_library</span>Course</a>
    <a class="nav-link" href="admin.html"><span class="material-symbols-sharp me-3 align-bottom">group</span>Admin</a>
    <a class="nav-link" href="index.html"><span class="material-symbols-sharp me-3 align-bottom">settings</span>Settings</a>
  </nav>
  <a class="d-flex ms-5 mb-5 link-dark text-decoration-none" href="#">
    <img class="ratio ratio-1x1 rounded-circle me-3 mt-1 align-self-star" style="width: 40px; height: 40px;" src="/assets/images/andychen.jpeg" alt="Andy Chen">
    <div>
      <p class="fw-bolder m-0 fs-6">Andy Chen</p>
      <p class="fs-7">andy0401@mail.com</p>
    </div>
  </a>
</div>
